@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #aaa;
}

.collapse {
  display: none;
}

.card h1 {
  color: #6649DE;
  margin-bottom: 20px;
}

.btn {
	display: inline-block;
	background-color: #A35DF5;
	color: #fff;
	border: none;
	padding: 10px 20px;
	margin: 5px;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
	font-size: 15px;
	font-family: inherit;
}

.card {
	min-height: 300px;
	max-width: 500px;
	margin: 50px auto;
	padding: 30px;
	border-radius: 10px;
	background: rgb(223, 221, 221);
	display: flex;
  align-items: center;
	flex-direction: column;
}
