@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1 {
	color: #6649DE;
	margin-bottom: 20px;
}

.user {
	box-shadow: 3px 3px 8px 0 rgb(126, 122, 122);
  padding: 1rem;
  border-radius: 1rem;
}

.collapse {
  display: none !important;
}

.btn {
	min-width: 180px;
	display: inline-block;
	background-color: #A35DF5;
	color: #fff;
	border: none;
	padding: 10px 20px;
	margin: 5px 5px 5px 0px;
	border-radius: 5px !important;
	cursor: pointer;
	text-decoration: none;
	font-size: 15px;
	font-family: inherit;
}

.btn-secondary {
	min-width: 180px;
	display: inline-block;
	color: #000;
	background-color:rgb(223, 221, 221);
	border: 1px solid #A35DF5;
	padding: 10px 20px;
	margin: 5px 5px 5px 0px;
	border-radius: 5px !important;
	cursor: pointer;
	text-decoration: none;
	font-size: 15px;
	font-family: inherit;
}

.btn-small {
	display: inline-block;
	color: #fff;
	border: none;
	padding: 10px 20px;
	margin: 5px 5px 5px 0px;
	border-radius: 5px !important;
	cursor: pointer;
	text-decoration: none;
	font-size: 15px;
	font-family: inherit;
}


#card {
	min-height: 300px;
	max-width: 500px;
	margin: 50px auto;
	padding: 30px;
	border-radius: 10px;
	background: rgb(223, 221, 221);
	text-align: center;
}

#memberCard {
	min-height: 300px;
	max-width: 500px;
	margin: 50px auto;
	padding: 30px;
	border-radius: 10px;
	background: rgb(223, 221, 221);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#regForm {
	display: flex;
	align-items: center;
	flex-direction: column;
}
